@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/** added by myself **/
a:hover {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Colors ***/
/*** Fonts ***/
/*** _header.html.twig start ***/
.header {
  background-color: #a56893dc;
}

/** Display logo **/
.headerBranding_logo {
  height: 173px;
}

.headerBranding_navbar {
  border-bottom: 1px dotted #c0c0c0;
}

/** Search field **/
.headerBranding_searchField {
  width: 160px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  letter-spacing: -0.01rem;
}

.headerBranding_searchField__btn {
  display: none;
}

/** Language and accessibility toggles **/
.headerBranding_langFlag,
.headerBranding_accessibility {
  height: 18px;
}

/** Branding name **/
.headerBranding_shortName {
  margin-top: 4.3vh;
  font-size: 3.9rem;
  letter-spacing: -0.1rem;
}

.headerBranding_longName {
  margin-top: 0.75vh;
  font-size: 1.3rem;
  letter-spacing: 0.375rem;
}

/** Breadcrumb **/
.headerBreadcrumb {
  background-color: #ffffc1;
  font-size: 0.95rem;
}

.headerBreadcrumb_iconHome {
  padding: 12px 0;
}

#wo-breadcrumbs {
  background-color: #ffffc1;
  margin-bottom: 0;
  padding: 0 0 0 6px;
}

.breadcrumbItem a {
  color: #000;
}

.breadcrumbItem,
.breadcrumbItem a {
  margin-right: 6px;
}

.headerBreadcrumb_loggedAdmin {
  color: #55a747;
}

.headerBreadcrumb_loggedAdmin:hover {
  color: #c33329;
}

/*** _header.html.twig end ***/
/*** _home.html.twig start ***/
.menuItem {
  background-color: #f8d134;
  opacity: 0.9;
  border-radius: 5px;
}

.menuItem:hover {
  background-color: #047afb;
  opacity: 1;
  transform: rotateZ(-2deg);
  -webkit-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.menuItem_title {
  font-size: 1.5rem;
  color: #000;
  font-weight: bolder;
}

.menuItem_notice {
  font-size: 0.95rem;
  color: #000;
}

/*** _home.html.twig end ***/
.adminMenuItem {
  background-color: #c33329;
  opacity: 0.7;
  border-radius: 5px;
}

.adminMenuItem_title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
}

.adminMenuItem_notice {
  color: #fff;
  font-size: 0.95rem;
}

/*** _footer.html.twig start ***/
.footer {
  background-color: #000;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  font-weight: bolder;
  color: #047afb;
}

.footer h6 {
  color: #ffffc1;
}

.footer li {
  line-height: 1.5rem;
}

/*** _footer.html.twig end ***/
/*** contact.html.twig &
searchPerson.html.twig start ***/
.formContainer {
  background-color: #f8d134;
  opacity: 0.9;
  margin-top: 21vh;
  margin-bottom: 21vh;
  font-family: Metropolis, sans-serif;
  font-size: 0.9rem;
}

.formTitle {
  font-size: 2rem;
}

.form_facebookLink {
  color: #3b5998;
}

.formAddress,
.formNotice {
  line-height: 1.2rem;
}

.form_fieldLabel {
  margin-bottom: 1.2vh;
  font-weight: bold;
}

.formField {
  height: 6vh;
  padding: 0 15px;
  border: 0;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.formField_select {
  display: block;
  width: 100%;
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  text-overflow: ellipsis;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.65rem auto, 100%;
  color: #757575;
}

.formField_select::-ms-expand {
  display: none;
}

.formField_selectDate {
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  color: #047afb;
  font-size: 1.1rem;
}

.formField_date:focus {
  outline: 5px auto -webkit-focus-ring-color;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

.form_checkBox:not(checked),
.form_checkBox:checked {
  position: absolute;
  left: -9999px;
}

.form_checkBox:not(checked) + label,
.form_checkBox:checked + label {
  position: relative;
  padding: 2px 0 0 25px;
  cursor: pointer;
}

.form_checkBox:not(checked) + label::before,
.form_checkBox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

.form_checkBox:not(checked) + label::after,
.form_checkBox:checked + label::after {
  content: "✔";
  position: absolute;
  top: 5px;
  left: 4px;
  font-size: 0.8rem;
  color: #047afb;
  transition: all 0.2s;
}

.form_checkBox:not(checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

.form_checkBox:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.form_fieldMessage {
  height: 20vh;
  padding-top: 15px;
}

.captcha_image {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.formCaptcha {
  height: 6vh;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset, 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  margin-top: 0.5vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.formCaptcha_error {
  margin-top: 1.25vh;
  font-weight: bold;
  color: #c33329;
}

.formSubmit_button {
  width: 120px;
  height: 6vh;
  background-color: #047afb;
  border: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(255, 255, 255, 0.5) inset;
  font-weight: bold;
  color: #fff;
}

.formReset_button {
  width: 120px;
  height: 6vh;
  background-color: #c3332993;
  border: 0;
  font-weight: bold;
  color: #fff;
}

.datepicker {
  border-radius: 0;
}

.datepicker table {
  margin: 4px;
  border-collapse: separate;
  border-spacing: 4px;
}

.datepicker td,
.datepicker th {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: baseline;
}

.datepicker table tr th.prev,
.datepicker table tr th.datepicker-switch,
.datepicker table tr th.next,
.datepicker table tr th.dow,
.datepicker table tr td.day {
  vertical-align: middle;
}

.datepicker table tr th.prev,
.datepicker table tr th.datepicker-switch,
.datepicker table tr th.next,
.datepicker table tr th.day {
  color: #000;
}

.datepicker table tr th.dow {
  color: #a56893dc;
}

.datepicker table tr th.datepicker-switch {
  font-weight: bold;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #ffffc1;
  cursor: pointer;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected.active {
  background-image: linear-gradient(to bottom, #a56893dc, #c3332993);
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*** contact.html.twig &
searchPerson.html.twig end ***/
/*** _flashMessages.html.twig start ***/
.flashMessages {
  position: fixed;
  top: 24vh;
  z-index: 1;
  filter: brightness(2);
}

.flashMessages_content {
  filter: brightness(0.5);
  padding-top: 120px;
  font-family: Metropolis, sans-serif;
  color: #000;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.flashMessages_close {
  opacity: 1;
  text-shadow: none;
}

.flashMessages_header {
  border-top-right-radius: 15px;
  box-shadow: 9px 10px 5px rgba(0, 0, 0, 0.7);
}

/*** _flashMessages.html.twig end ***/
/*** _login_content.html.twig start ***/
/*** _login_content.html.twig end ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Futura, sans-serif;
  color: #000;
}

/*** Back to top button ***/
#backToTop {
  display: none;
  border-radius: 50% 20%/10% 40%;
  background-color: #c3332993;
  padding: 12px;
  position: fixed;
  top: 3.2vh;
  right: 1.6vw;
  font-size: 1.2rem;
  color: #fff;
}

#backToTop:focus,
#backToTop:hover {
  color: #f8d134;
}

/*** Media Queries CSS ***/
@media (max-width: 992px) {
  .headerBranding_logo {
    height: 123px;
  }

  .headerBranding_searchField {
    width: 100px;
  }

  .headerBranding_shortName {
    margin-top: 3.6vh;
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .headerBranding_longName {
    margin-top: 1vh;
    font-size: 0.85rem;
    letter-spacing: 0.265rem;
  }

  .footer h6 {
    font-size: 1.1rem;
  }

  .footer li {
    font-size: 0.85rem;
  }
}
@media (max-width: 768px) {
  .headerBranding_logo {
    height: 113px;
  }

  .headerBranding_searchField {
    width: 130px;
  }

  .headerBranding_shortName {
    margin-top: 3.8vh;
    font-size: 2.3rem;
  }

  .headerBranding_longName {
    margin-top: 0.5vh;
    font-size: 0.85rem;
    letter-spacing: 0.21rem;
  }

  .footer li {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .footer h6 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
