/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/** added by myself **/
a:hover {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Colors ***/
/*** _header.html.twig start ***/
.header {
  background-color: #a56893dc;
}

/** Display logo **/
.headerBranding_logo {
  height: 173px;
}

.headerBranding_navbar {
  border-bottom: 1px dotted #c0c0c0;
}

/** Search field **/
.headerBranding_searchField {
  width: 160px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  letter-spacing: -0.01rem;
}

.headerBranding_searchField__btn {
  display: none;
}

/** Language and accessibility toggles **/
.headerBranding_langFlag,
.headerBranding_accessibility {
  height: 18px;
}

/** Branding name **/
.headerBranding_shortName {
  margin-top: 4.3vh;
  font-size: 3.9rem;
  letter-spacing: -0.2rem;
}

.headerBranding_longName {
  margin-top: 0.75vh;
  font-size: 1.3rem;
  letter-spacing: 0.32rem;
}

/** Breadcrumb **/
.headerBreadcrumb {
  background-color: #ffffc1;
  font-size: 0.95rem;
}

.headerBreadcrumb_iconHome {
  padding: 12px 0;
}

#wo-breadcrumbs {
  background-color: #ffffc1;
  margin-bottom: 0;
  padding: 0 0 0 6px;
}

.breadcrumbItem a {
  color: #000;
}

.breadcrumbItem,
.breadcrumbItem a {
  margin-right: 6px;
}

/*** _header.html.twig end ***/
/*** _home.html.twig start ***/
.menuItem {
  background-color: #f8d134;
  opacity: 0.9;
  border-radius: 5px;
}

.menuItem:hover {
  background-color: #047afb;
  opacity: 1;
  transform: rotateZ(-2deg);
  -webkit-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
}

.menuItem_title {
  font-size: 1.5rem;
  color: #000;
  font-weight: bolder;
}

.menuItem_notice {
  font-size: 0.95rem;
  color: #000;
}

/*** _home.html.twig end ***/
.adminMenuItem {
  background-color: #c33329;
  opacity: 0.7;
  border-radius: 5px;
}

.adminMenuItem_title {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
}

.adminMenuItem_notice {
  color: #fff;
  font-size: 0.95rem;
}

/*** _footer.html.twig start ***/
.footer {
  background-color: #000;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  font-weight: bolder;
  color: #047afb;
}

.footer h6 {
  font-size: 1.3rem;
}

.footer li {
  line-height: 1.5rem;
}

/*** _footer.html.twig end ***/
/*** contact.html.twig &
searchPerson.html.twig start ***/
.formContainer {
  background-color: #f8d134;
  opacity: 0.9;
  margin-top: 21vh;
  margin-bottom: 21vh;
  font-family: "Metropolis", sans-serif;
  font-size: 0.9rem;
}

.formTitle {
  font-size: 2rem;
}

.form_facebookLink {
  color: #3b5998;
}

.formAddress,
.formNotice {
  line-height: 1.2rem;
}

.form_fieldLabel {
  margin-bottom: 1.2vh;
  font-weight: bold;
}

.formField {
  height: 6vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.form_dateField {
  height: 18vh;
}

.form_fieldMessage {
  height: 20vh;
  padding-top: 15px;
}

.formCaptcha {
  height: 6vh;
  margin-top: 0.5vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.formCaptcha_error {
  margin-top: 1.25vh;
  font-weight: bold;
  color: #c33329;
}

.formSubmit_button {
  width: 120px;
  height: 6vh;
  background-color: #047afb;
  border: 0;
  font-weight: bold;
  color: #fff;
}

.formReset_button {
  width: 120px;
  height: 6vh;
  background-color: #c3332993;
  border: 0;
  font-weight: bold;
  color: #fff;
}

/*** contact.html.twig &
searchPerson.html.twig end ***/
/*** _flashMessages.html.twig start ***/
.flashMessages {
  position: fixed;
  top: 35vh;
  z-index: 1;
}

.flashMessages_boxDialog {
  height: 30vh;
  padding-top: 20vh;
  font-family: "Metropolis", sans-serif;
  color: #000;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/*** _flashMessages.html.twig end ***/
/*** _login_content.html.twig start ***/
/*** _login_content.html.twig end ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Futura, sans-serif;
  color: #000;
}

/*** Media Queries CSS start ***/
@media (max-width: 992px) {
  .headerBranding_logo {
    height: 123px;
  }

  .headerBranding_searchField {
    width: 100px;
  }

  .headerBranding_shortName {
    margin-top: 3.6vh;
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .headerBranding_longName {
    margin-top: 1vh;
    font-size: 0.85rem;
    letter-spacing: 0.265rem;
  }

  .footer h6 {
    font-size: 1.1rem;
  }

  .footer li {
    font-size: 0.85rem;
  }
}
@media (max-width: 768px) {
  .headerBranding_logo {
    height: 113px;
  }

  .headerBranding_searchField {
    width: 130px;
  }

  .headerBranding_shortName {
    margin-top: 3.8vh;
    font-size: 2.3rem;
  }

  .headerBranding_longName {
    margin-top: 0.5vh;
    font-size: 0.85rem;
    letter-spacing: 0.21rem;
  }

  .footer li {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .footer h6 {
    font-size: 1rem;
  }
}
/*** Media Queries CSS end ***/

/*# sourceMappingURL=style.css.map */
