@import "partials/reset";
@import "partials/variables";
@import "partials/header";
@import "partials/menuUser";
@import "partials/footer";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Futura, sans-serif;
}