@import "partials/reset";
@import "partials/variables";
@import "partials/header";
@import "partials/menu";
@import "partials/footer";
@import "partials/forms";
@import "partials/flashMessages";
@import "partials/login";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Futura, sans-serif;
  color: $black;
}

/*** Media Queries CSS start ***/

@media (max-width: 992px) {

  .headerBranding_logo {
    height: 123px;
  }

  .headerBranding_searchField {
    width: 100px;
  }

  .headerBranding_shortName {
    margin-top: 3.6vh;
    font-size: 2.5rem;
    letter-spacing: 0;
  }

  .headerBranding_longName {
    margin-top: 1vh;
    font-size: .85rem;
    letter-spacing: .265rem;
  }

  .footer h6 {
    font-size: 1.1rem;
  }

  .footer li {
    font-size: .85rem;
  }

}

@media (max-width: 768px) {

  .headerBranding_logo {
    height: 113px;
  }

  .headerBranding_searchField {
    width: 130px;
  }

  .headerBranding_shortName {
    margin-top: 3.8vh;
    font-size: 2.3rem;
  }

  .headerBranding_longName {
    margin-top: 0.5vh;
    font-size: .85rem;
    letter-spacing: .21rem;
  }

  .footer li {
    font-size: .7rem;
    line-height: 1.3rem;
  }

  .footer h6 {
    font-size: 1rem;
  }

}

/*** Media Queries CSS end ***/