{% extends 'base.html.twig' %}

{% block title %}AAGEF-FFI | Les Résistants espagnols en Gironde 1939-1945{% endblock %}

{% block main %}

    <nav class="container-fluid py-5 my-5">

        <div class="row pb-md-0 pb-sm-0 mx-5 mb-md-0 mb-sm-0 justify-content-around">

            <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                <a href="#" class="menuItem_link">

                    <h2 class="mb-2 pt-5 menuItem_title">qui sommes-nous ?</h2>
                    <h3 class="pb-5 menuItem_notice">découvrez notre histoire et nos objectifs</h3>

                </a>

            </div>

            <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                <a href="#" class="menuItem_link">

                    <h2 class="mb-2 pt-5 menuItem_title">agenda</h2>
                    <h3 class="pb-5 menuItem_notice">nos manifestations passées et à venir</h3>

                </a>

            </div>

            <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                <a href="#" class="menuItem_link">

                    <h2 class="mb-2 pt-5 menuItem_title">actualités</h2>
                    <h3 class="pb-5 menuItem_notice">de chez nous ou de partout ailleurs</h3>

                </a>

            </div>

        </div>

        <div class="row mx-5 my-3"></div>

        <div class="row mx-5 pt-5 justify-content-around">

                <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                    <a href="#" class="menuItem_link">

                        <h2 class="mb-2 pt-5 menuItem_title">médiathèque</h2>
                        <h3 class="pb-5 menuItem_notice">accédez a une riche documentation</h3>

                    </a>

                </div>

            <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                <a href="{{ path('person_search') }}" class="menuItem_link">

                    <h2 class="mb-2 pt-5 menuItem_title">base de données</h2>
                    <h3 class="pb-5 menuItem_notice">partez à la recherche de votre passé</h3>

                </a>

            </div>

            <div class="col-lg-3 col-md-9 col-sm-9 mb-md-4 mb-sm-4 text-center menuItem">

                <a href="{{ path('contact') }}" class="menuItem_link">

                    <h2 class="mb-2 pt-5 menuItem_title">contact</h2>
                    <h3 class="pb-5 menuItem_notice">rejoignez-nous, soutenez-nous</h3>

                </a>

            </div>

        </div>

    </nav>

{% endblock %}