/*** _flashMessages.html.twig start ***/

.flashMessages {
  position: fixed;
  top: 35vh;
  z-index: 1;
}

.flashMessages_boxDialog {
  height: 30vh;
  padding-top: 20vh;
  font-family: 'Metropolis', sans-serif;
  font-size: 1.2rem;
  color: $black;
  line-height: 1.8rem;
}

/*** _flashMessages.html.twig end ***/