/*** _flashMessages.html.twig start ***/

.flashMessages {
  position: fixed;
  top: 24vh;
  z-index: 1;
  filter: brightness(2);
}

.flashMessages_content {
  filter: brightness(.5);
  padding-top: 120px;
  font-family: $metropolis;
  color: $black;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.flashMessages_close {
  opacity: 1;
  text-shadow: none;
}

.flashMessages_header {
  border-top-right-radius: 15px;
  box-shadow: 9px 10px 5px rgba(0, 0, 0, .7);
}

/*** _flashMessages.html.twig end ***/