/*** contact.html.twig &
searchPerson.html.twig start ***/

.formContainer {
  background-color: $yellow;
  opacity: .9;
  margin-top: 21vh;
  margin-bottom: 21vh;
  font-family: $metropolis;
  font-size: .9rem;
}

.formTitle {
  font-size: 2rem;
}

.form_facebookLink {
  color: $facebook;
}

.formAddress,
.formNotice {
  line-height: 1.2rem;
}

.form_fieldLabel {
  margin-bottom: 1.2vh;
  font-weight: bold;
}

.formField {
  height: 6vh;
  padding: 0 15px;
  border: 0;
  background-color: $inputField;
  box-shadow:
  2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset,
  2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.formField_select {
  display: block;
  width: 100%;
  max-width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  text-overflow: ellipsis;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7rem top 50%, 0 0;
  background-size: .65rem auto, 100%;
  color: #757575;
}

.formField_select::-ms-expand {
  display: none;
}

.formField_selectDate {
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, .5);
  border-radius: 0;
  box-shadow:
  0 2px 2px 0 rgba(0, 0, 0, .5) inset,
  2px 2px 2px 0 rgba(255, 255, 255, .5);
  color: $cyan;
  font-size: 1.1rem;
}

.formField_date:focus {
  outline: 5px auto -webkit-focus-ring-color;
  box-shadow:
  2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset,
  2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

.form_checkBox:not(checked),
.form_checkBox:checked {
  position: absolute;
  left: -9999px;
}

.form_checkBox:not(checked) + label,
.form_checkBox:checked + label {
  position: relative;
  padding: 2px 0 0 25px;
  cursor: pointer;
}

.form_checkBox:not(checked) + label::before,
.form_checkBox:checked + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: $inputField;
  box-shadow:
  2px 2px 2px 0 rgba(0, 0, 0, 0.5) inset,
  2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

.form_checkBox:not(checked) + label::after,
.form_checkBox:checked + label::after {
  content: '✔';
  position: absolute;
  top: 5px;
  left: 4px;
  font-size: .8rem;
  color: $cyan;
  transition: all .2s;
}

.form_checkBox:not(checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

.form_checkBox:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.form_fieldMessage {
  height: 20vh;
  padding-top: 15px;
}

.captcha_image{
  border-left: 2px solid rgba(255, 255, 255, .1);
}

.formCaptcha {
  height: 6vh;
  background-color: $inputField;
  box-shadow:
  2px 2px 2px 0 rgba(0, 0, 0, .5) inset,
  2px 2px 2px 0 rgba(255, 255, 255, .5);
  margin-top: .5vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.formCaptcha_error {
  margin-top: 1.25vh;
  font-weight: bold;
  color: $red;
}

.formSubmit_button {
  width: 120px;
  height: 6vh;
  background-color: $cyan;
  border: 0;
  box-shadow:
  0 2px 2px 0 rgba(0, 0, 0, .5),
  0 2px 2px 0 rgba(255, 255, 255, .5) inset;
  font-weight: bold;
  color: $white;
}

.formReset_button {
  width: 120px;
  height: 6vh;
  background-color: $redLight;
  border: 0;
  font-weight: bold;
  color: $white;
}

.datepicker {
  border-radius: 0;
}

.datepicker table {
  margin: 4px;
  border-collapse: separate;
  border-spacing: 4px;
}

.datepicker td,
.datepicker th {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: baseline;
}

.datepicker table tr th.prev,
.datepicker table tr th.datepicker-switch,
.datepicker table tr th.next,
.datepicker table tr th.dow,
.datepicker table tr td.day {
  vertical-align: middle;
}

.datepicker table tr th.prev,
.datepicker table tr th.datepicker-switch,
.datepicker table tr th.next,
.datepicker table tr th.day {
  color: $black;
}

.datepicker table tr th.dow {
  color: $purple;
}

.datepicker table tr th.datepicker-switch {
  font-weight: bold;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: $yellowLight;
  cursor: pointer;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected.active {
  background-image: linear-gradient(to bottom, $purple, $redLight);
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/*** contact.html.twig &
searchPerson.html.twig end ***/