/*** contact.html.twig &
searchPerson.html.twig start ***/

.formContainer {
  background-color: $yellow;
  opacity: .9;
  margin-top: 21vh;
  margin-bottom: 21vh;
  font-family: 'Metropolis', sans-serif;
  font-size: .9rem;
}

.formTitle {
  font-size: 2rem;
}

.form_facebookLink {
  color: $facebook;
}

.formAddress,
.formNotice {
  line-height: 1.2rem;
}

.form_fieldLabel {
  margin-bottom: 1.2vh;
  font-weight: bold;
}

.formField {
  height: 6vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.form_dateField {
  height: 18vh;
}

.form_fieldMessage {
  height: 20vh;
  padding-top: 15px;
}

.formCaptcha {
  height: 6vh;
  margin-top: .5vh;
  padding: 0 15px;
  border: 0;
  font-size: 1rem;
}

.formCaptcha_error {
  margin-top: 1.25vh;
  font-weight: bold;
  color: $red;
}

.formSubmit_button {
  width: 120px;
  height: 6vh;
  background-color: $cyan;
  border: 0;
  font-weight: bold;
  color: $white;
}

.formReset_button {
  width: 120px;
  height: 6vh;
  background-color: $redLight;
  border: 0;
  font-weight: bold;
  color: $white;
}

/*** contact.html.twig &
searchPerson.html.twig end ***/