/*** Colors ***/

$black: #000;
$cyan: #047afb;
$dark: #252525;
$facebook: #3b5998;
$green: #55a747;
$grey: #c0c0c0;
$purple: #a56893dc;
$red: #c33329;
$redLight: #c3332993;
$white: #fff;
$yellow: #f8d134;
$yellowLight: #ffffc1;

/*** Fonts ***/

$futura: Futura, sans-serif;
$openSans: 'Open Sans', sans-serif;
$metropolis: Metropolis, sans-serif;