/*** Colors ***/

$black: #000;
$cyan: #047afb;
$dark: #252525;
$facebook: #3b5998;
$grey: #c0c0c0;
$purple: #a56893dc;
$red: #c33329;
$redLight: #c3332993;
$white: #fff;
$yellow: #f8d134;
$yellowLight: #ffffc1;